html {
  font-size: 14px;
}

body {
  font-family: "open sans",sans-serif;
}

header {
  display:flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height:4rem;
  width:100%;
  z-index: 50;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.7rem;
  font-weight: 700;
}

ul .active {
  color: #399bd1;
}

.btn-link:hover {
  text-decoration: none;
}


.nav-link {
  display:inline-block;
  color:#bbbbbb;
  cursor: pointer;
}

.nav-link:hover{
  color:black;
}

.start-link {
  color:#399bd1;
  cursor: pointer;
  margin-left: 2rem;
}

.start-link:hover {
  color:#000000;
  cursor: pointer;
  height:100%;
}

.nav-link:active {
  color:#bbbbbb;
  cursor: pointer;
  background-color: #eeeeee;
  height:auto;
}

.explore {
  color:blue;
}

.logo {
  margin-right: 1rem;
  margin-top: 1rem;
}


header{
  display: inline-block;
}
header ul {
  display: block;


}
header li {
  display: inline-block;
}
.nav .active {

}

header img {
display:inline-block;
}

.carousel-caption {
  margin-bottom: 5rem;
}

.carousel-caption h1 {
  font-family: "lora";
  font-size: 7.1rem;
  color: white;
  text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}

.carousel-caption p {
  font-size: 1.5rem;
  font-family: "verdana",sans-serif;
  color: white;
  text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;S
}


.product-cat li {
  color:rgba(0,0,0,0.7);
  line-height: 1.4;
}

.image-container {
  opacity:.5;
  transition: 700ms ease-in-out;
  z-index: 50;
}

.image-container:hover {
  display:flex;
  opacity:1;
  transform: scale(1.2, 1.2);
}

footer {
  background-color: #f3f3f3;
  text-align: center;
  margin-top: 5.85rem;
}

footer h1 {
  font-size: 2.5rem;
  padding-top: 5.2rem;
}

footer p {
  width: 42rem;
  margin:1.4rem auto;
}

footer button {
  margin-bottom:5.2rem;
}

@media only screen and (max-width:768px) {

  .logo {
    visibility: hidden;
    position: absolute;
  }

  .carousel-caption {
    margin-bottom: .5rem;
    text-align: center;
  }

  .carousel-caption h1 {
    font-family: "lora";
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-shadow: -.5px -.5px #000, .5px -.5px #000, -.5px .5px #000, .5px .5px #000;
  }

  .carousel-caption p {
    font-size: 1.25rem;
    font-family: "verdana",sans-serif;
    color: white;

    text-shadow: -.25px -.25px #000, .25px -.25px #000, -.25px .25px #000, .25px .25px #000;
  }


}
